<div class="blog">
    <section class="status-box">
        <h2 class="title">{{blogs.title}}</h2>
        <h3>{{blogs.status}}</h3>
    </section>
</div>
<h3 class="head">Add your comment</h3>
<form id = "new-post-form" name="{{blogs.id}}">
    <div>
        <textarea id="comment-input"></textarea>
    </div>
    <button class="form-btn" >Finish</button>
</form>
<script src="/js/comment.js"></script>