<form id = "new-post-form" name="{{blog.id}}">
    <div>
        <textarea id="title-input" placeholder="title">{{blog.title}}</textarea>
    </div>
    <div>
        <textarea id="post-input">{{blog.status}}</textarea>
    </div>
    <button class="form-btn" >Finish</button>
</form>
<script src="/js/edit.js"></script>