<h2 class="head">Add a post</h2>
</div>
<form id = "new-post-form">
    <div>
        <textarea id="title-input" placeholder="title"></textarea>
    </div>
    <div>
        <textarea id="post-input"></textarea>
    </div>
    <button class="form-btn">+ Add Post</button>
</form>
<script src="/js/newpost.js"></script>