<div class="head">
<h1>Welcome back {{blogs.name}}</h1>
<h2>Add a post</h2>
</div>
{{!-- <form id = "new-post-form">
    <div>
        <textarea id="title-input" placeholder="title"></textarea>
    </div>
    <div>
        <textarea id="post-input"></textarea>
    </div>
    <button class="form-btn">+ New Post</button>
</form> --}}
<a href="/newpost">
<div class="mid">   
<button class="new-btn form-btn">+ New Post</button>
</a>
</div>
{{#if blogs.Blogs}}
<div class="head">
    <h2>My post</h2>
</div>
{{/if}}
{{#each blogs.Blogs}}
<div class="blog mid">
    <section class="status-box">
        <h3 class="title">{{title}}</h3>
        <button class="form-btn" name="{{id}}" id="editBtn">Edit</button>
        <button class="form-btn" name="{{id}}" id="delBtn">Delete</button>
    </section>
</div>
{{/each}}

<script src="/js/profile.js"></script>